<!DOCTYPE html>
<html lang="zh-CN">
<%- include('./include/head') %>

<body>
    <%- include('./include/header') %>
    <div class="main">
        <%- body %>
    </div>
    <%- include('./include/footer') %>
</body>

</html>