<article class="post-wrapper">
  <div class="post-title">
    <h1 class="h1-title"><%= page.title %></h1>
  </div>
  <div class="post-meta">
    <span class="post-tags">
      标签：
      <% page.tags.each(tag => { %>
        <span class="tag">
          <%- tag.name %> 
        </span>
      <% }) %> 
    </span>
    <span class="post-time">发布日期：<%- date(page.date, "YYYY-MM-DD") %></span>
  </div>
  <div class="post-content"><%- page.content %></div>
</article>