<div class="tags-wrapper">
    <h1 class="tags-page-title">标签</h1>
    <ul class="tags">
        <% site.tags.forEach((tag) => { %>
            <li class="tag-item">
                <a class="tag-link" href="<%= url_for(tag.path) %>">
                    #<%= tag.name %>
                </a>
            </li>
        <% }) %>
    </ul>
    
    <% console.log(list_tags()) %> 
</div>
<style>
    .tags-wrapper {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .tags-page-title {
        color: #041725;
        padding-left: 2.5rem;
        font-size: 1.5rem;
    }
    .tag-link {
        text-decoration: none;
        color: #041725;
    }
</style>