<div class="tags-wrapper">
    <h1 class="tags-page-title">标签</h1>
    <% site.tags.forEach((tag) => { %>
        <div class="tag-item">
            <a class="tag-link" href="<%= url_for(tag.path) %>">
                # <%= tag.name %>
            </a>
        </div>
    <% }) %>
</div>
<style>
    .tags-wrapper {
        padding: 1rem 2.5rem;
    }
    .tags-page-title {
        color: var(--deep-blue);
        font-size: 1.5rem;
    }
    .tag-link {
        text-decoration: none;
        color: #041725;
    }
    .tag-link:hover {
        color: var(--link-hover);
    }
</style>