.footer {
  //display: flex;
  //flex-wrap: wrap;
  //align-items: center;
  //justify-content: space-between;
  max-width: var(--max-content-width);
  margin: 1rem auto;
  // padding: 0.75rem 1.5rem;
  border-top: dashed 1px #BABABA;
  p {
    color: #4c4948;
    font-size: 0.7rem;
    text-align: right;
  }
}