.header {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  // background-color: #252529;
  background-color var(--deep-blue);
  // border-bottom: dashed 1px #BABABA;
  // border-bottom-left-radius: 1.5rem;
  // border-bottom-right-radius: 1.5rem;
  box-shadow: 0 10px 10px #ccc;

  .header-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    max-width: var(--max-content-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .blog-title {
    font-size: 1.5rem;
    // font-weight: bold;
    .blog-title-link {
      text-decoration: none;
      color: #fff;
    }
  }

  .menu {
    .menu-item {
      display: inline-block;
      padding: 0.5rem 0 0.5rem 0.5rem;
      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}