.post-wrapper {
  padding-left: 2rem;
  padding-right: 2rem;

    // 文章标题
    .post-title {
    }

    // 文章一级标题
    .h1-title {
      text-align: center;
    }

    // 文章标题链接
    .post-title-link {
      text-decoration: none;
      color: #000;
    }

    // 文章信息
    .post-meta {
      display: flex;
      align-items: baseline;
      justify-content center;
      font-size: 0.8rem;
      color: #aaa;
      padding-bottom: 1rem;
      border-bottom: solid 1px #eee;

      // 文章标签
      .post-tags {
        padding-right: 1rem;
        a {
          color: #aaa;
        }
      }

      // 文章发布时间
      .post-time {
      }
    }

    

    // 文章正文
    .post-content {
      line-height: 1.6;
      h1, h2 {
        color: var(--deep-blue);
      }

      a {
        text-decoration: none;
        overflow: hidden;
      }

      a:hover {
        text-decoration: underline;
        color: var(--link-hover)
      }

      figure {
        margin: 0;
        background-color: #f3f3f3;
        box-shadow: 0 0.5rem 1rem #ddd;
        border-radius: 0.8rem;
        overflow: auto;
      }

    }

    // 代码块相关
    // figure {
      // background-color: #333;
      // border-radius: 0.8rem;
      // padding: 0.5rem;
      // box-shadow: 0 0 1rem #ddd;
      // overflow: auto;

    //   // 序号
    //   .gutter {
    //     color: #fff;
    //     padding-right 0.5rem;
    //     border-right: 1px dashed #ddd;
    //     font-size: 0.75rem;
    //   }

    //   // 代码区
    //   .code {
    //     color: #fff;
    //     padding-left: 0.5rem;
    //     font-size: 0.75rem;
    //   }
    // }

    // 影响`code`的样式
    // code {
    //   text-shadow: 0 1px 1px #fff;
    //   padding: 0.25rem 0.5rem;
    //   background-color: rgba(228, 231, 142, 0.25)
    // }

    // // 引用的样式
    // blockquote {
    //   background-color: rgba(174, 220, 174, 0.25);
    //   padding: 0.8rem;
    //   margin: 1rem 0;
    //   border-left: 0.35rem solid #5cb85c;
    //   border-radius: 0.5rem;
    //   //transition: color 0.2s ease-in-out;
    //   text-shadow: 0 1px #fff;
    //   color: #6c6c6c;
    //   font-size: 0.9rem;
    // }

  }