.post {
  margin: 1em auto;
  padding: 30px 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px #ddd;
  font-size: 1rem;
  img {
    max-width: 85%;
    display: block;
    margin: 10px auto;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #bbb;
  }
}

.posts  {
  .post:first-child {
    margin-top: 0;
  }

  .post-title {
    font-size: 1.8em;

    .post-title-link {
      color: #368CCB;
      text-decoration: none;
    }
  }

  .post-content {
    a {
      color: #368CCB;
      text-decoration: none;
    }
  }

  .post-meta {
    color: #BABABA;
    font-size: 0.8rem;
    text-align: right;
  }
}