.post-wrapper {
  margin: 1.5em auto 2.5em auto;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #eaeaea;

  img {
    max-width: 85%;
    display: block;
    margin: 10px auto;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #bbb;
  }

  .post-title {
    // h1 元素
    // margin-bottom: 0;
    .post-title-link {
      font-size: 1.3em;
      color: #000;
      text-decoration: none;
    }
  }

  .post-content {
    font-size: 0.9em;
    color: #515050;
    // background-color: rgb(244, 244, 244);
    padding: 20px;
    a {
      color: #368CCB;
      text-decoration: none;
    }
  }

  .post-meta {
    color: #BABABA;
    font-size: 0.8rem;
    margin-bottom: 10px;
  }

}