:root {
  --max-content-width: 900px;
  --deep-blue: #192231;
  --link-hover: #c80000;
}
body {
  margin: 0;
}
.main {
  max-width: var(--max-content-width);
  margin: 0 auto;
}
.header {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  background-color: var(--deep-blue);
  box-shadow: 0 10px 10px #ccc;
}
.header .header-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  max-width: var(--max-content-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
.header .blog-title {
  font-size: 1.5rem;
}
.header .blog-title .blog-title-link {
  text-decoration: none;
  color: #fff;
}
.header .menu .menu-item {
  display: inline-block;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.header .menu .menu-item .menu-item-link {
  text-decoration: none;
  color: #fff;
}
.footer {
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: 1rem 0;
  border-top: solid 1px #eee;
}
.footer p {
  color: #ccc;
  font-size: 0.8rem;
  text-align: center;
}
.post-wrapper {
  padding-left: 2rem;
  padding-right: 2rem;
}
.post-wrapper .h1-title {
  text-align: center;
}
.post-wrapper .post-title-link {
  text-decoration: none;
  color: #000;
}
.post-wrapper .post-meta {
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 0.8rem;
  color: #aaa;
  padding-bottom: 1rem;
  border-bottom: solid 1px #eee;
}
.post-wrapper .post-meta .post-tags {
  padding-right: 1rem;
}
.post-wrapper .post-meta .post-tags a {
  color: #aaa;
}
.post-wrapper .post-content {
  line-height: 1.6;
}
.post-wrapper .post-content h1,
.post-wrapper .post-content h2 {
  color: var(--deep-blue);
}
.post-wrapper .post-content figure {
  margin: 0 1.5em;
}
.post-wrapper .post-content a {
  text-decoration: none;
}
.post-wrapper .post-content a:hover {
  text-decoration: underline;
  color: var(--link-hover);
}
.post-wrapper .highlight {
  background-color: #f5f5f5;
  border-radius: 0.5em;
  padding: 0.8em 1em;
  box-shadow: 0 0.5em 0.8em #d2d2d2;
  overflow: auto;
}
.post-wrapper .highlight .gutter {
  padding-right: 0.8em;
  border-right: 1px dashed #c8c8c8;
}
.post-wrapper .highlight .code {
  padding-left: 0.8em;
}
.post-wrapper code {
  text-shadow: 0 1px 1px #fff;
  padding: 0.25rem 0.5em;
  background-color: rgba(228,231,142,0.25);
}
.post-wrapper blockquote {
  background-color: rgba(174,220,174,0.25);
  padding: 0.8rem;
  margin: 1rem 0;
  border-left: 0.35rem solid #5cb85c;
  border-radius: 0.5rem;
  text-shadow: 0 1px #fff;
  color: #6c6c6c;
  font-size: 0.9rem;
}
