:root {
  --max-content-width: 900px;
  --deep-blue: #192231;
  --link-hover: #c80000;
}
body {
  margin: 0;
}
.main {
  max-width: var(--max-content-width);
  margin: 0 auto;
}
.header {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  background-color: var(--deep-blue);
  box-shadow: 0 10px 10px #ccc;
}
.header .header-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  max-width: var(--max-content-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
.header .header-wrapper .blog-title {
  font-size: 1.5rem;
}
.header .header-wrapper .blog-title .blog-title-link {
  text-decoration: none;
  color: #fff;
}
.header .header-wrapper .menu .menu-item {
  display: inline-block;
  padding: 0.5rem 0.25rem;
}
.header .header-wrapper .menu .menu-item a {
  text-decoration: none;
  color: #fff;
}
.footer {
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: 1rem 0;
  border-top: solid 1px #eee;
}
.footer p {
  color: #ccc;
  font-size: 0.8rem;
  text-align: center;
}
.post-wrapper {
  padding-left: 2rem;
  padding-right: 2rem;
  word-break: break-word;
}
.post-wrapper .h1-title {
  text-align: center;
}
.post-wrapper .post-meta {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  font-size: 0.8rem;
  color: #666;
  padding-bottom: 1rem;
  border-bottom: solid 1px #eee;
}
.post-wrapper .post-meta .post-tags a {
  color: #666;
}
.post-wrapper .post-meta span {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.post-wrapper .post-content {
  line-height: 1.6;
}
.post-wrapper .post-content h1,
.post-wrapper .post-content h2 {
  color: var(--deep-blue);
}
.post-wrapper .post-content a {
  text-decoration: none;
  color: inherit;
}
.post-wrapper .post-content a:hover {
  text-decoration: underline;
  color: var(--link-hover);
}
.post-wrapper .post-content figure {
  margin: 0;
  background-color: #f3f3f3;
  box-shadow: 0 0 1rem #ddd;
  border-radius: 0.8rem;
  overflow: auto;
  font-size: 0.85rem;
  line-height: 1.25;
}
.post-wrapper .post-content blockquote {
  background-color: #f0ffff;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  margin: 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem #ebebeb;
  border-left: 0.3rem solid #ccc;
  color: #666;
  font-size: 0.9rem;
}
.post-wrapper .post-content img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
