:root {
  --max-content-width: 1000px;
  --fake-bg-top-height: 200px;
  --main-color: #be223a;
  --bg-gray: #f0f0f0;
  --main-color-2: #192231;
  --link-hover: #c80000;
}
body {
  margin: 0;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--main-color);
}
.header .header-wrapper {
  max-width: var(--max-content-width);
  width: 90%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.header .website-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.header .website-title .website-title-link {
  text-decoration: none;
  color: #fff;
  text-shadow: #000 0 0 15px;
}
.header .menu .menu-item {
  display: inline-block;
  padding: 0.5rem 0.25rem;
}
.header .menu .menu-item a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 0.85rem;
}
.banner {
  position: relative;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  min-height: 300px;
  height: 500px;
  z-index: -1;
}
.banner .banner-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 2rem;
  font-weight: bold;
  color: rgba(255,255,255,0.427);
}
.banner-placeholder {
  position: relative;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  height: var(--fake-bg-top-height);
  z-index: -1;
}
.container {
  position: relative;
  top: 0;
  left: 0;
  background-color: var(--bg-gray);
}
.content {
  position: relative;
  top: -110px;
  max-width: var(--max-content-width);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: rgba(0,0,0,0.15) 0 10px 20px;
  border-radius: 1rem;
}
@media screen and (max-width: 680px) {
  .content {
    width: 100%;
  }
}
@media screen and (max-width: 680px) {
  .content {
    border-radius: 0;
  }
}
.footer {
  max-width: var(--max-content-width);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.footer p {
  color: #ccc;
  font-size: 0.8rem;
  text-align: center;
}
.back-to-top {
  display: none;
  position: fixed;
  z-index: 100;
  right: 30px;
  bottom: 30px;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 5px;
}
.post {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  word-break: break-word;
}
.post .h1-title {
  text-align: center;
}
.post .post-meta {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  font-size: 0.8rem;
  color: #666;
  padding-bottom: 1rem;
  border-bottom: solid 1px #eee;
}
.post .post-meta .post-tags a {
  color: #666;
}
.post .post-meta span {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.post .post-content {
  line-height: 1.6;
}
.post .post-content h1,
.post .post-content h2 {
  color: var(--deep-blue);
}
.post .post-content a {
  text-decoration: none;
  color: inherit;
}
.post .post-content a:hover {
  text-decoration: underline;
  color: var(--link-hover);
}
.post .post-content figure {
  margin: 0;
  background-color: #f3f3f3;
  box-shadow: 0 0 1rem #ddd;
  border-radius: 0.8rem;
  overflow: auto;
  font-size: 0.85rem;
  line-height: 1.25;
}
.post .post-content blockquote {
  background-color: #f0ffff;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  margin: 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem #ebebeb;
  border-left: 0.3rem solid #ccc;
  color: #666;
  font-size: 0.9rem;
}
.post .post-content img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
