/*common style*/

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

:root {
    --max-width: 800px;
}

/*common style end*/

/*header style start*/

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0.75rem 1.5rem;
    border-bottom: dashed 1px #BABABA;
}

.blog-title {
    font-family: ui-serif,Georgia,Cambria,"Times New Roman",Times,serif;
    font-size: 1.5rem;
    padding: 0 5px;
}

.blog-title-link {
    text-decoration: none;
}

.menu-item {
    display: inline-block;
    font-family: serif;
    padding: 0 5px;
    font-weight: bold;
}

.menu-item-link {
    text-decoration: none;
}

/*header style end*/

/*content style start*/

.main {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 5px;
    font-family: serif;
}

.post-title-link {
    text-decoration: none;
}

.post-time {
    font-size: 0.85rem;
    color: #777;
}

/*content style end*/

/*footer style start*/

.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: 15px auto;
    padding: 0.75rem 1.5rem;
    border-top: dashed 1px #BABABA;
    font-family: ui-serif,Georgia,Cambria,"Times New Roman",Times,serif;
    font-size: 0.8rem;
}