<div class="footer">
    <p>
        © Copyright 2022 <a href="https://github.com/inferno0303/" style="text-decoration: none">inferno0303</a>
    </p>
    <p>
        Power By <a href="https://hexo.io/" style="text-decoration: none">Hexo</a>
    </p>
</div>