<!--分页选择器-->
<% if (page.total > 1)%>
<nav class="page-nav">
    <%- paginator({
        "prev_text": "上一页",
        "next_text": "下一页"
    })%>
</nav>
<style>
    .page-nav {
        padding: 1.5rem;
        display: flex;
        align-items: baseline;
        justify-content: flex-end;
        font-size: 0.85rem;
    }
    .page-nav a:hover {
        color: var(--link-hover);
    }
    .page-number {
        min-width: 2rem;
        min-height: 2rem;
        border-radius: 0.2rem;
        border: solid 1px var(--deep-blue);
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: var(--deep-blue);
        margin: 0 0.4rem;
    }
    .current {
        color: #fff;
        background-color: var(--deep-blue);
    }
    .prev {
        text-decoration: none;
        color: var(--deep-blue);
        padding-right: 0.5rem;
    }
    .next {
        text-decoration: none;
        color: var(--deep-blue);
        padding-left: 0.5rem;
    }
</style>