<!--分页选择器-->
<% if (page.total > 1)%>
<nav class="page-nav">
    <%- paginator({
        "prev_text": "<<<",
        "next_text": ">>>"
    })%>
</nav>
<style>
    .page-nav {
        padding: 1rem 1.5rem;
        display: flex;
        align-items: baseline;
        justify-content: flex-end;
        font-size: 0.85rem;
    }
    .page-number {
        padding-left: 1rem;
        padding-right: 1rem;
        text-decoration: none;
        color: #000;
    }
    .current {
        color: #aaa;
    }
    .prev {
        text-decoration: none;
        color: #000;
        padding-right: 0.5rem;
    }
    .next {
        text-decoration: none;
        color: #000;
        padding-left: 0.5rem;
    }
</style>